// styles.scss

$primary-color: #8a2be2;
$secondary-color: #ffffff;
$background-color: #e6e6fa;
$checkbox-checked-color: #8a2be2;

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: $background-color;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 5px;
  }

  form {
    input[type="text"] {
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $primary-color;
      margin-bottom: 20px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: $primary-color;
      color: $secondary-color;
      border: none;
    }
  }

  input[type="checkbox"] {
    &:checked {
      + label {
        &::before {
          content: "\2713";
          display: inline-block;
          margin-right: 5px;
          color: $checkbox-checked-color;
        }
      }
    }
  }
}
